/*Colors*/
:root{
	--yellow1: #F28C0F;
	--yellow2: #F2AB27;
	--yellow3: #F2B441;
	--yellow4: #F2E2C4;
	--yellow5: #F2EBDC;
}

/*Loader Animation*/
.loader {
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: flex;
}

.loader span {
	display: block;
	width: 20px;
	height: 20px;
	background: #eee;
	border-radius: 50%;
	margin: 0 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
/*						background: #f07e6e;*/
	background: var(--yellow1);
}

.loader span:nth-child(3) {
/*						background: #84cdfa;*/
	background: var(--yellow3);
}

.loader span:nth-child(4) {
/*						background: #5ad1cd;*/
	background: var(--yellow5);
}

.loader span:not(:last-child) {
	animation: animate 1.5s linear infinite;
}

@keyframes animate {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(30px);
	}
}

.loader span:last-child {
  animation: jump 1.5s ease-in-out infinite;
}

.loader-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes jump {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(10px, -10px);
	}
	20% {
		transform: translate(20px, 10px);
	}
	30% {
		transform: translate(30px, -50px);
	}
	70% {
		transform: translate(-150px, -50px);
	}
	80% {
		transform: translate(-140px, 10px);
	}
	90% {
		transform: translate(-130px, -10px);
	}
	100% {
		transform: translate(-120px, 0);
	}	
}

/*Usage:
<div id="loading" class="loader justify-content-center">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
*/

*/